*{
	margin: 0;
	padding:0;
	font-family: "Helvetica", "Arial", sans-serif;
}
a{
	text-decoration: none;
}
body{
	background-color: #ebebeb;

}
header,section{
	background-color: #fff;
	width: 1000px;
	margin: 0 auto;
}
header h1{
	text-align: center;
	margin-top: 20px;

}
header  h2{
	margin-top: 20px;
	display: inline-block;
	border-left: 3px solid #f5d302;
}
header nav{
	margin-top: 10px;
	margin-left: 40px;

}
nav ul li a{
	color: #fedd02;
	font-size: 18px;
}
section{
	margin-top: 20px;
}
section .problem{
	width: 950px;
	height: 40px;
	line-height: 40px;
	background-color: #f5d302;
	border-radius: 10px;
	color:#fff;
	font-size: 20px;
	margin: 10px auto;
	padding-left: 10px;
}
.problem-item{
	margin-top: 25px;
	margin-left: 10px;
}
.problem-title{
	border-left: 3px solid #db4920;
	font-size: 18px;
	font-weight: bold;
}
.problem-content{
	font-size: 15px;
	margin-top: 20px;
	line-height: 25px;
}
.code{
	border-left: 3px solid #428b94;
	background-color: #ebebeb;
	margin: 20px 20px;
}