body {
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: arial;
    vertical-align: baseline;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}

ul{
    list-style: none;
}
/*头部*/

.new-toolbar {
    position: relative;
    min-width: 320px;
    height: 44px;
    z-index: 2;
    background-color: #3e98f0;
    text-align: center;
    font-weight: 400;
    color: #fff;
    background-image: url(../Images/bg-news-logo.png);
    background-repeat: no-repeat;
    background-position: center 6px;
    background-size: 77px auto;
    -webkit-background-size: 77px auto;
}
.toolbar-left,.toolbar-right{
    position: absolute;
    height: 100%;
    overflow: hidden;
}
.toolbar-left{
    top: 0;
    left: 0;
}
.toolbar-right{
    top: 0;
    right: 0;
}
.toolbar-btn{
    float: left;
    width: 34px;
    height: 100%;
    font-size: 15px;
    line-height: 44px;
}
.btn-baidu,.btn-search,.btn-user,.btn-sub{
    border: 0;
    background-image: url(../Images/bg-new-toolbar.png);
    background-size: 40px 500px;
    -webkit-background-size: 40px 500px;
    background-repeat: no-repeat;
}
.btn-baidu{
        background-position: center 4px;
}
.btn-user{
    background-position: center -463px;
    margin-left: 10px;
}
.btn-search{
    background-position: center -162px;
    margin-right: 10px;
}
.btn-sub{
        background-position: center -107px;
}
/*页面主体*/
/*新闻导航*/
#main-nav{
    position: relative;
    background-color: #3e98f0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
    z-index: 2;
    color: #fff;
}
.divider{
    height: 1px;
    margin: 0 10px;
    background-color: #5dabf0;
}
.content{
    padding-top: 3px;
    padding-bottom: 5px;
}
.content table{
    width: 100%;
    table-layout: fixed;
}
.content td{
    height: 33px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
}
.content td>div{
    position: relative;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content td b{
    position: absolute;
    top: 10px;
    left: 0;
    height: 12px;
    width: 1px;
    display: block;
    overflow-y: hidden;
    background-color: #5dabf0;
}
.content td span {
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    color: #fff;
    white-space: nowrap;
    margin: 0 2px;
}
.content td span.current{
    border-bottom: 1px solid #fff;
    margin: 0 2px;
}
#main-nav .more{
    position: absolute;
    left: 1px;
    bottom: 0;
    top: 0;
    right: 0;
    overflow-y: hidden;
    background-color: #3e98f0;
    color: #fff;
    text-align: center;
}
#main-nav .angle{
        display: inline-block;
    position: absolute;
    right: 4px;
    top: 14px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.more .down-angle{
        right: 2px;
    border-top: 4px solid #fff;
}
#main-nav .footer{
        position: relative;
    height: 41px;
    border-bottom: 0 inset #bbc2ce;
    background-color: #3e98f0;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
}
.footer .btn-group{
        position: absolute;
    top: 6px;
    left: 10px;
    bottom: 6px;
}
.footer .reporter-rank,.footer .media-rank,.footer .btn-manage{
        float: left;
    padding-right: 10px;
    text-align: left;
}
.media-rank{
        position: relative;
    margin-left: 10px;
}
#main-nav .media-rank b,#media-nav .btn-manage b{
        display: block;
    position: absolute;
    top: 9px;
    left: -11px;
    height: 12px;
    width: 1px;
    background-color: #5dabf0;
}
.footer .btn-manage{
    position: relative;
    width: 96px;
    margin-left: 10px;
}
#main-nav .less{
    position: absolute;
    top: 6px;
    right: 8px;
    bottom: 6px;
    width: 52px;
    padding-right: 4px;
    color: #fff;
}
.up-angle{
    border-bottom: 4px solid #fff;
}
/*新闻内容*/
#main-sections{
    position: relative;
    z-index: 1;
    top: -2px;
    min-height: 800px;
   
}
.main-page{
     position: relative;
    margin-top: -1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
/*banner轮播图*/
.banner-container{
    background: url(../Images/carousel_bg.png);
    background-size: 100px 100px;
    -webkit-background-size: 100px 100px;
    position: relative;
    z-index: 1;
    margin: 10px 10px 0;
    overflow: hidden;

}
.banner-wrapper{
    margin-right: -10px;
    padding-bottom: 0px;
    overflow: hidden;
}
.banner-list{
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-box-lines: multiple;
    -webkit-backface-visibility: hidden;
    width:100%;
    height: 221px;
    /*transform: translateX(-365px);
    transition: none;*/
}
.banner-item{
    display: block;
}
.banner-wrapper .item-box{
    margin-right: 10px;
    position: relative;
}
.item-box .item-imgbox{
    height: 221px;
    overflow: hidden;
}
.item-imgbox img{
    width: 100%;
    height: inherit;
    min-height: 187px;
    vertical-align: middle;
}
.banner-wrapper .item-title{
        width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    margin-top: 3px;
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: rgba(0,0,0,.8);
    text-align: left;
}
.banner-container .banner-icons{
    height: 3px;
    background-color: #B8BBC0;
    z-index: 1;
    display: -webkit-box;
    margin-right: 10px;
}
.banner-icons i{
    height: 3px;
    -webkit-box-flex: 1;
    display: block;
    margin: 0;
   /* display: inline-block;*/
   /* height: 6px;*/
    width: 6px;
   /* margin-right: 10px;*/
    border-radius: 6px;
    background-color: #d0d1d3;
}
#main-sections .banner-icons .current{
    background-color: #3e98f0;
}
/*热点*/
.page-hotword{
    height: 28px;
    background-color: #f8f9fa;
    overflow: hidden;
    margin: 10px 10px 0;
}
.hotword-left{
        width: 36px;
    height: 28px;
    background-color: #e02f2f;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    float: left;
}
.hotword-content{
    width: 85%;
    color: #545454;
    -webkit-backface-visibility: hidden;
}
.page-hotword .hotword-item{
    margin-left: 6px;
    line-height: 28px;
    font-size: 15px;
    height: 28px;
}
.hotword-item span{
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: left;
}
.hotword-item-right{
    width: 13px;
    height: 28px;
    display: inline-block;
    background: url(../Images/arrorw-right.png) no-repeat;
    -webkit-background-size: 9px 12.5px;
    background-size: 9px 12.5px;
    background-position: 50% 50%;
    margin-left: 2px;
    float: left;
}
/*新闻卡片*/
.page-list{
    width: 100%;
    background-color: #fff;
}
.page-list-item{
    position: relative;
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
    padding: 10px 0;
    margin: 0 10px;
}
.page-list-item .page-list-img{
        font-size: 0;
    height: 68px;
    vertical-align: middle;
    width: 95px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    float: left;
    margin-left: 0;
    margin-right: 10px;
    background-color: #F4F7F9;
    position: relative;
}
.page-list-img img{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
.page-list-text{
    height: 40px;
    overflow: hidden;
}
.list-text-title{
    font-size: 16px;
    line-height: 20px;
    color: #262b31;
    margin: -1px 0 4px 0;
}
.list-text-abs{
    font-size: 13px;
    line-height: 20px;
    color: #b8bac0;
    font-weight: 400;
}
.page-list-bottom{
    margin-top: 10px;
}
.page-list-item .page-list-time{
    font-size: 12px;
    line-height: 20px;
    color: #b8bac0;
    font-weight: 400;
    text-align: left;
}
.top-red{
    background-color: #e02f2f;
    border: 1px solid transparent;
    display: block;
}
.top-blue{
    background-color: #0da5fc;
    border: 1px solid transparent;
}
.page-list-item .top-news,.page-list-item .like-news{
    float: right;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #fff;
    padding: 1px 2px;
    border-radius: 2px;
    margin-top: 1px;
    margin-left: 10px;
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.page-list-album-container{
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
}
.page-list-album{
    overflow: hidden;
    width: 33.33%;
    max-height: 111px;
    float: left;
    position: relative;
}
.page-list-album-container .page-list-album-wrapper{
    background-color: #F4F7F9;
    border: 1px solid #e8e8e8;
}
.page-list-album-container img{
    width: 100%;
    height: auto;
    display: block;
    max-height: 200px;
}
.page-list-album-container .page-list-album-wrapper.one{
    margin-right: 7px;
}
.page-list-album-container .page-list-album-wrapper.two{
    margin: 0 3.5px;
}
.page-list-album-container .page-list-album-wrapper.three{
    margin-left: 7px;
}
/*点击加载更多*/
.refresh{
    height: 36px;
    line-height: 36px;
    background-color: #f8f9fa;
    text-align: center;
    border: 1px solid #ebedef;
    border-radius: 1px;
    color: #545454;
    margin: 14px 40px;
}
/*底部*/
.footer-list{
    height: 44px;
    overflow: hidden;
    background-color: #239bf0;
    font-size: 13px;
    line-height: 22px;
}
.item-wrapper{
    float: left;
    width: 33.3%;
    height: 21px;
    overflow: hidden;
    margin-left: -1px;
    margin-top: 12px;
    text-align: center;
    border-left: 1px solid #4fadf0;
    color: #fff;
}
.foot-list .foot-item{
    display: inline-block;
    height: 100%;
    padding-left: 25px;
}
.footer-list .feedback,.footer-list .app-recommend,.footer-list .app-download{
    background-image: url(../Images/bg-footer.png);
    background-repeat: no-repeat;
    -webkit-background-size: 30px 300px;
}
.footer-list .feedback{
    background-position: 0 3px;
}
.footer-list .app-recommend{
    background-position: 0 -31px;
}
.footer-list .app-download{
    background-position: 0 -64px;
}
.footer-list .foot-item{
    display: inline-block;
    height: 100%;
    padding-left: 25px;
}