* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 70%;
    margin-top: 40px;
    font-size: 18px;
}

input {
    width: 200px;
    height: 22px;
    display: inline-block;
    float: left;

}

button {
    width: 100px;
    height: 26px;
    background-color: #00a1e9;
    border: 1px solid #00a1e9;
    color: #ffffff;
    font-size: 18px;
    /*使input和button高度对齐*/
    display:inline-block;
    float: left;
}
#getindex{
    clear: both;
}
